.root {
	-fx-background-image: url('../resources/background2.jpg');
	-fx-background-size:cover;
}

#gradeTextBox {
	-fx-font-family: 'DejaVu Sans';
	-fx-font-size: 16;
	-fx-border-color: #7E4153;
	-fx-border-radius: 5;
	-fx-control-inner-background: #DED9DF;
	-fx-highlight-fill: #6D3042;
	-fx-effect: dropshadow(three-pass-box, rgba(110,48,66,0.5), 15, 0, 0, 0);
}

#gradeTextBox:focused {
	-fx-border-color: #6D3042;
	-fx-highlight-fill: #6D3042;
	-fx-effect: dropshadow(three-pass-box, rgba(110,48,66,1), 15, 0, 0, 0);
}

#gsheetLabel {
	-fx-font-family: "Cambria";
	-fx-font-size: 20;
	-fx-text-fill: #472349;
	-fx-alignment: center;
	-fx-effect: dropshadow(three-pass-box, rgba(110,48,66,.8), 15, 0, 0, 0);
}

#saveBtn {
	-fx-background-color: #6D3042;
	-fx-background-radius: 5;
    -fx-text-fill: #DFD5DD;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,0.3), 10, 0, 1, 1);
}

#saveBtn:hover {
	-fx-background-color: #6D3042;
    -fx-text-fill: #DFD5DD;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,1), 15, 0, 0, 0);
}

#closeBtn {
	-fx-background-color: #6D3042;
	-fx-background-radius: 5;
    -fx-text-fill: #DFD5DD;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,0.3), 10, 0, 1, 1);
}

#closeBtn:hover {
	-fx-background-color: #6D3042;
    -fx-text-fill: #DFD5DD;
    -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,1), 15, 0, 0, 0);
}

.dialog-pane {
	-fx-background-image: url('../resources/background2.jpg');
	-fx-padding: 0;
}

.dialog-pane > .content.label {
	-fx-text-fill: #472349;
	-fx-font-family: "Cambria";
	-fx-font-size: 15;
}

.dialog-pane .button {
	-fx-background-color: #6D3042;
	-fx-background-radius: 5;
	-fx-text-fill: #DFD5DD;
	-fx-effect: dropshadow(three-pass-box, rgba(110,48,66,0.3), 10, 0, 1, 1);
}

.dialog-pane .button:hover {
	-fx-background-color: #6D3042;
	-fx-text-fill: #DFD5DD;
	-fx-effect: dropshadow(three-pass-box, rgba(110,48,66,1), 15, 0, 0, 0);
}