.root {
	-fx-background-image:url('images/background2.jpg');
	-fx-background-size:cover;
}

#gsheetLabel {
	-fx-font-family: "Cambria";
	-fx-font-size: 20;
	-fx-text-fill: #472349;
	-fx-alignment: center;
}

#saveBtn {
	-fx-background-color: #6D3042;
	-fx-background-radius: 5;
    -fx-text-fill: #DFD5DD;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,0.3), 10, 0, 1, 1);
}

#saveBtn:hover {
	-fx-background-color: #6D3042;
    -fx-text-fill: #DFD5DD;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,1), 15, 0, 0, 0);
}

#closeBtn {
	-fx-background-color: #6D3042;
	-fx-background-radius: 5;
    -fx-text-fill: #DFD5DD;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,0.3), 10, 0, 1, 1);
}

#closeBtn:hover {
	-fx-background-color: #6D3042;
    -fx-text-fill: #DFD5DD;
    -fx-effect: dropshadow(three-pass-box, rgb(255,0,0,1), 15, 0, 0, 0);
}