/*
Application Cascading Style Sheets
 */

.root {
    -fx-background-image:url('images/background.jpg');
    -fx-background-size:cover;
}

.check-box > .box {
    -fx-background-color: #C4B8BF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 0);
}

.check-box:selected > .box {
    -fx-background-color: #6e3042;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    -fx-background-color: white;
}

#mainForm {
    -fx-background-color: #E0DBE1;
    -fx-background-radius: 15;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);*/
    -fx-effect: dropshadow(three-pass-box, rgba(90,38,56,1), 20, 0, 0, 0);
}

#mainLabel {
    -fx-font-family: "Dosis";
    -fx-font-size: 42px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0, 3, 3);
}

#theoryBox {
    -fx-background-color: #E0DBE1;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,1), 15, 0, 0, 5);
}

#labBox {
    -fx-background-color: #E0DBE1;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,1), 15, 0, 0, 5);;
}


#theoryLabel {
    -fx-font-family: "Cambria";
    -fx-text-fill: #472349;
    -fx-font-size: 24px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0, 3, 3);
}

#labLabel {
    -fx-font-family: "Cambria";
    -fx-text-fill: #472349;
    -fx-font-size: 24px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0, 3, 3);
}

#circleImage {
    -fx-image:url('images/circle.png');
}

#calculateButton {
    -fx-background-image: url('images/circlebtn1.png');
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-radius: 50;
    -fx-font-size: 13px;
    -fx-font-family: "Fugaz One";
    -fx-text-fill: #632223;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,0.3), 10, 0, 0, 0);
}

#calculateButton:hover {
    -fx-background-image: url('images/circlebtn2.png');
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-text-fill: #854445;
    -fx-effect: dropshadow(three-pass-box, rgba(110,48,66,1), 15, 0, 0, 0);
}